

{% extends "base.twig" %}
{% block content %}
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$']]}});
</script>
<script type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>

<!--<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script> 
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3.0.1/es5/tex-mml-chtml.js">-->


 </script>
 <div class="cantainer container p-3 my-6 border" >
 <center><h2><b> {{ wrap.problem  }}</b> </h2> </center>
 <hr>
<div class="markdown">
{{  wrap.problemStat|raw }}
</div>


<br>
<br>
<hr>


<form>
  <fieldset>
   <h3> <legend>Run/Submit Your Code </legend></h3>
   
  
<form action="" method="POST">
    <div class="form-group">
    <label for="language"> Language:</label> 
      <select class="custom-select" name="language" style="width:20%">
      <option selected="c++14">c++14</option>
   {#   {% for lang in wrap.languages %}
        {% if lang == wrap.body.language %}
          <option  selected="{{ wrap.body.language }} ">{{ lang }}  </option>
        {% else %}
          <option >{{ lang }}  </option>
        {% endif %} 

       {% endfor %}  #}
     <br>
    </select>

      <label for="Code"></label>

      <textarea class="form-control" name="Code" id="Code" rows="15" spellcheck="true">{{ wrap.body.sourceCode }}
      </textarea>
      <br>
      <div class="row">
       <div class="col-md-5">
        <label for="input">Input values</label>

       <textarea class="form-control" id="input" name="input" rows="5" spellcheck="true">{{ wrap.body.input }}</textarea>         
        </div>
       
       <div class="col-md-2">
        <button type="submit" class="btn btn-primary" Name="run">Run</button>

           <button type="submit" class="btn btn-primary" Name="submit">Submit</button>
           </form>
        </div>
      
      
        

        <div class="col-md-5">
        {% if wrap.result.cmpinfo  != "" %}
            <div class="alert alert-dismissible alert-danger">
      
            <h4 class="alert-heading">Compliation error !</h4>
            <p class="mb-0"> {{ wrap.result.cmpinfo|raw }} ahgva </p>
            </div>
         {% endif %}
        {% if wrap.result.stderr  != "" %}
            <div class="alert alert-dismissible alert-info">
      
            <h4 class="alert-heading">stderr error!!</h4>
            <p class="mb-0"> {{ wrap.result.stderr|raw }} ahgva </p>
            </div>
         {% endif %}
         {% if wrap.result.output  != "" %}

              <div class="alert alert-dismissible alert-success">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Well done,compiled successfully!!! output: <br></strong>   {{ wrap.result.output|raw }} 
              </div>   
         {% endif %}  

        
         {% if wrap.result.output  == "" %}
             {% if wrap.result.cmpinfo  != "" %}
         
               
                <strong> No output to stdout <br></strong>  
          {% endif %}
         {% endif %}


       </div>
         
        </div>
        </div>


       

</diV>
<br>
<br>


{% endblock %}

